/*
 *
 * Custom CSS stuff Qpanel new theme base
 * Material Dashboard - v2.1.0
 *
 *
 * */

.queue-card a {
  color: white;
}

#queue_users {
  margin-left: 5px;
}


/** new style for rtl mode */


@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebboldfanum.eot');
	src: url('../fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/eot/iranyekanwebthinfanum.eot');
	src: url('../fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iranyekanweblightfanum.eot');
	src: url('../fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregularfanum.eot');
	src: url('../fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('../fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 850;
	src: url('../fonts/eot/iranyekanwebblackfanum.eot');
	src: url('../fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: irsns;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

.custom-rtl{
	direction: rtl;
	font-family: 'irsns', sans-serif;
}
.custom-rtl *{
  text-align: right;
 }
.custom-rtl .card-title{
  display: flex;
}
.custom-rtl .card-category{
  display: flex;
}
.custom-rtl .card .card-category .material-icons {
  position: relative;
  top: 1px;
  left: 5px;
  line-height: 0;
}

.custom-rtl b,.custom-rtl span{
	font-size: 13px !important;
    padding: 0 3px !important;
}
.custom-rtl .fa{
    padding: 0 10px !important;
}
#navItem_language{
	visibility: hidden;
}

#mainFooter{
	visibility: hidden;
}
